/* latin-ext */
@font-face {
  font-family: "Economica";
  font-style: normal;
  font-weight: 400;
  src: local("Economica"), local("Economica-Regular"),
    url(https://fonts.gstatic.com/s/economica/v8/Qw3fZQZaHCLgIWa29ZBbOMIBIF51fEUl.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Economica";
  font-style: normal;
  font-weight: 400;
  src: local("Economica"), local("Economica-Regular"),
    url(https://fonts.gstatic.com/s/economica/v8/Qw3fZQZaHCLgIWa29ZBbNsIBIF51fA.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v21/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDTbtXK-F2qC0usEw.woff)
    format("woff");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v21/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDYbtXK-F2qC0usEw.woff)
    format("woff");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v21/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDZbtXK-F2qC0usEw.woff)
    format("woff");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v21/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtXK-F2qC0s.woff)
    format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather Regular"), local("Merriweather-Regular"),
    url(https://fonts.gstatic.com/s/merriweather/v22/u-440qyriQwlOrhSvowK_l5-cSZMdeX3rsHo.woff2)
      format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather Regular"), local("Merriweather-Regular"),
    url(https://fonts.gstatic.com/s/merriweather/v22/u-440qyriQwlOrhSvowK_l5-eCZMdeX3rsHo.woff2)
      format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather Regular"), local("Merriweather-Regular"),
    url(https://fonts.gstatic.com/s/merriweather/v22/u-440qyriQwlOrhSvowK_l5-cyZMdeX3rsHo.woff2)
      format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather Regular"), local("Merriweather-Regular"),
    url(https://fonts.gstatic.com/s/merriweather/v22/u-440qyriQwlOrhSvowK_l5-ciZMdeX3rsHo.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather Regular"), local("Merriweather-Regular"),
    url(https://fonts.gstatic.com/s/merriweather/v22/u-440qyriQwlOrhSvowK_l5-fCZMdeX3rg.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.mag {
  margin-right: 10px;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

.breadcrumb {
  background-color: #f7f3e7 !important;
  font-size: 20px;
}

.breadcrumb-item > a {
  color: #dc9b00 !important;
}

.main {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: "Merriweather";
  font-size: 25px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.play-icon {
  margin-right: 10px;
}

.play-icon:hover {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.bottom-dot {
  border-bottom: 1px dotted black;
}

.text-inline {
  display: inline;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #dc9b00;
}

tr:hover {
  background-color: #dc9b00;
}

tr:nth-child(even) {
  background-color: #ffebcd;
}

tr:nth-child(even):hover {
  background-color: #dc9b00;
}

.dropdown-toggle {
  background-color: transparent !important;
  color: #dc9b00 !important;
  font-size: 32px !important;
  border: unset !important;
}

.dropdown-toggle::after {
  border: unset !important;
}

.dropdown-item:active {
  background-color: #dc9b00 !important;
}

.dropdown-toggle:focus {
  box-shadow: unset !important;
}

.dropdown-toggle:hover {
  box-shadow: 0 -0.75em 0 #ffebcd inset;
}

#dropdown-phonemes {
  margin-left: 5px;
}

.h1-title {
  font-size: 37px;
  color: gray;
  font-family: "Economica";
  display: block;
}

.h1-title:hover {
  cursor: pointer;
  color: gray;
  text-decoration: underline;
}

.h2-title {
  font-size: 57px;
  color: #dc9b00;
  font-family: "Playfair Display";
  font-weight: bold;
}

.h2-title:hover {
  color: #dc9b00;
  cursor: pointer;
  text-decoration: underline;
}

.h3-title {
  font-weight: bold;
  font-family: "Playfair Display";
  color: black;
}

.vowels-title {
  font-weight: bold;
  text-align: left;
}

.nav-link {
  color: #dc9b00 !important;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 32px;
}

.nav-link:hover {
  box-shadow: 0 -0.75em 0 #ffebcd inset;
}

.navbar {
  border-radius: 10px;
  margin-top: 30px;
  font-family: "Playfair Display";
  color: black;
  background-color: none;
}

.clickable-page {
  display: inline;
  font-weight: bold;
  color: black;
}

.clickable-page:hover {
  color: black;
}

.element:hover {
  background-color: #dc9b00;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0px;
  margin: auto;
  left: 0;
  right: 0;
}

.form {
  width: 50%;
  text-align: left;
}

.hide {
  display: none;
}

h4 {
  text-align: center;
}

.resultsWrapper {
  position: relative;
}

.results {
  border: 1px solid #dc9b00;
  background-color: #fef9dd;
  position: absolute;
  border-radius: 5px;
  padding: 10px;
  right: 0px;
  min-width: 300px;
  text-align: right;
  font-size: 20px;
}

.result {
  text-decoration: unset;
  color: #dc9b00;
  display: inline-block;
}

.result:hover {
  cursor: pointer;
  color: #dc9b00;
  text-decoration: underline;
}

.main-link {
  color: #dc9b00;
}

.main-link:hover {
  cursor: pointer;
  color: #dc9b00;
  text-decoration: underline;
}

body {
  background-color: #f7f3e7 !important;
}

.body {
  background-color: #fef9dd;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.anti-flex {
  display: block;
}

.block-1 {
  flex: 1;
}

.block-2 {
  flex: 2;
}

.block-3 {
  flex: 3;
}

.article {
  text-align: left;
}

.section {
  padding: 5px;
  margin: 5px;
  text-align: left;
}

.left {
  text-align: left;
}

.pagination {
  justify-content: center;
}

.mobile {
  margin: 15px !important;
}

.icon-mobile {
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
}
